/* Assign full width inputs*/
        input[type=text],
        input[type=password],
        input[type=email],
        input[type=date] {
          width: 100%;
          border: 2px solid #aaa;
          border-radius: 4px;
          margin: 8px 0;
          outline: none;
          padding: 12px 40px;
          box-sizing: border-box;
          transition: 0.3s;
        }

        input:focus + i{
          color: dodgerBlue;
          border-color: dodgerBlue;
        }

        input:focus{
          color: dodgerBlue;
          border-color: dodgerBlue;
        }




        /* Set a style for the buttons*/
        button {
            background-color: rgba(50,70,90, 0.75);
            border: 2px solid aquamarine;
            color: white;
            padding: 14px 20px;
            margin: 8px 0;
            cursor: pointer;
            width: 100%;
            border-radius: 10px;
        }

        /* Set a hover effect for the button*/
        button:hover {
            background-color: aquamarine;
            border: 2px solid rgba(50,70,90, 1);
        }

        /* Set extra style for the cancel button*/
        .container {
            padding: 16px;
        }

        .fontuser {
            position: relative;
        }

        .fontuser i{
            position: absolute;
            left: 10px;
            top: 40px;
            color: gray;
            transition: 0.3s;
        }

        .fontpassword {
            position: relative;
        }

        .fontpassword i{
            position: absolute;
            left: 15px;
            top: 40px;
            color: gray;
            transition: 0.3s;
        }
