.pagination
{
  /* border: 1px solid black; */
  width: 50%;
  float:right;
  padding: 12px 0px;
  margin: 15px 0;
  text-align: center;
}

.pagination a {
  color: black;
  padding: 6px 5px;
  text-decoration:none;

}

.pagination a.active {
  background-color: #4CAF50;
  color: white;
  border-radius: 5px;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
  border-radius: 5px;
}



.wrapper
{
  /* width: 100%; */
  /* border: 2px solid black; */
}
